.body {
  width: 60%;
  height: 60%;
  margin-top: 1%;
  margin-left: 20%;
  border: 2px solid rgba(66, 8, 55, 0.71);
  background-color: rgba(111, 41, 97, 0.3);
}

.question.question{
  display: block;
width: 100%;
padding: 10px 15px;
appearance: none;
border: none;
margin-top: 15px;
font-size: 20px;
outline: none;
}

.choix{
  background-color: rgba(156, 51, 135, 0.721);
  border: none;
  padding: 5% 48%;
  font-size: 80%;
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 2%;
  border-radius:10px;
}

.score {
  font-size: 200%;
  border-color: black;
  text-align: center;
}

.countinue {
  width: 20%;
  background-color:rgba(70, 161, 78, 0.71);
  margin-left: 40%;
}

.choix.correct {
  background-color:rgba(70, 161, 78, 0.906);
}

.choix.incorrect {
  background-color:rgba(197, 48, 61, 0.842);
}

.choix.respond {
  pointer-events: none;
}


.feedback {
  text-align: center;
  font-size: large;
}
