.frame {
    width: 80%;
    height: 60%;
    margin-top: 5%;
    margin-left: 10%;
    border: 2px solid rgba(66, 8, 55, 0.71);
    background-color: rgba(111, 41, 97, 0.3);
    padding: 1%;
}

.Array {
    width: 9.091%;   
    display: inline-block;
    vertical-align: middle;
}

.case{
    margin-top: 5% ;
    pointer-events: none;
    border-color: aquamarine ;
    padding: 15% 45%;
    border-radius:10px;
}

.case.closeC {
    background-color: rgba(71, 58, 68, 0.71);

}

.case.open {
    background-color: rgba(148, 11, 123, 0.71);
    pointer-events: all;
}

.case.impty {
    background-color: rgba(111, 41, 97, 0);
    border: none ;
}

.case.correct {
    background-color: rgba(70, 161, 78, 0.71);
}

.case.incorrect {
    background-color: rgba(182, 71, 95, 0.71);
}

.case.exit {
    background-color: rgba(71, 132, 182, 0.945);
    pointer-events: all;
}

.p {
    background-color: black;
}

.previous {
    width: 20%;
    align-self: flex-start;
    background-color:rgba(70, 161, 78, 0.71);
    margin-right: 20%;
}

.restart {
    width: 20%;
    background-color:rgba(70, 161, 78, 0.71);
    margin-right: 20%;
}

.next {
    width: 20%;
    background-color:rgba(70, 161, 78, 0.71);
}

.level {
    font-size: 200%;
    border-color: black;
    text-align: center;
}