<div class="level">
    <p> Level : {{ levelCounter }} </p>
</div>
<div class="frame">  
   <div class="plateau" *ngFor="let Array of plateau; let i = index;">
        <div class="Array" *ngFor="let case of Array; let j = index;">
            <button class="case 
                {{ (case == 0 ? 'closeC' : '')}}
                {{ (case == 1 ? 'open' : '')}}
                {{ (case == 2 ? 'impty' : '')}}
                {{ (case == 3 ? 'correct' : '')}}
                {{ (case == 4 ? 'incorrect' : '')}}
                {{ (exit[levelCounter] && case == 5 ? 'exit' : 'closeC')}}"
                (click)="click(i,j)"
            ><br></button>
        </div>
    </div>
    <div style="margin-top: 2%;">
        <button class="previous" (click)="previous ()">previous</button>
        <button class="restart" (click)="restart()">restart</button>
        <button class="next" (click)="next()">next</button>
    </div>
</div>
