.canvas-container {
    height: 100vh;
    background-color: black;
    color: white;
    width: 100%;
  }
  
  .help-container {
    height: 100vh;
    background-color: rgb(29, 29, 29);
    color: white;
    width: 100%;
  }
  .container {
    position: relative;
    display: block;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    border: yellow 10px solid;
  }
  
  .row {
    height: 30px;
  }
  
  .column {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

  .case{
    background-color: rgba(142, 5, 5, 0);
    width: 30px;
    height: 30px;
    pointer-events: none;
    border:none;
    --border: 3px solid rgb(0, 0, 0);
    --color:rgb(255, 255, 255);
  }

  .case.vide{
    background-color: rgb(255, 255, 255);
  }

  .case.none{
    background-color: var(--color);
  }
  
  .case.h{
    background-color: var(--color);
    border-top: var(--border);
  }

  .case.d{
    background-color: var(--color);
    border-right: var(--border);
  }

  .case.b{
    background-color: var(--color);
    border-bottom: var(--border);
  }

  .case.g{
    background-color: var(--color);
    border-left: var(--border);
  }

  .case.hd{
    background-color: var(--color);
    border-top: var(--border);
    border-right: var(--border);
  }

  .case.bd{
    background-color: var(--color);
    border-bottom: var(--border);
    border-right: var(--border);
  }

  .case.bg{
    background-color: var(--color);
    border-bottom: var(--border);
    border-left: var(--border);
  }

  .case.hg{
    background-color: var(--color);
    border-top: var(--border);
    border-left: var(--border);
  }

  .case.hb{
    background-color: var(--color);
    border-top: var(--border);
    border-bottom: var(--border);
  }

  .case.dg{
    background-color: var(--color);
    border-left: var(--border);
    border-right: var(--border);
  }

  .case.hdb{
    background-color: var(--color);
    border-top: var(--border);
    border-right: var(--border);
    border-bottom: var(--border);
  }

  .case.hdg{
    background-color: var(--color);
    border-top: var(--border);
    border-right: var(--border);
    border-left: var(--border);
  }

  .case.hbg{
    background-color: var(--color);
    border-top: var(--border);
    border-bottom: var(--border);
    border-left: var(--border);
  }

  .case.dbg{
    background-color: var(--color);
    border-right: var(--border);
    border-bottom: var(--border);
    border-left: var(--border);
  }

  .buttons {
    margin-top: 40px;
    padding: 5px;
    border: grey 2px solid;
    border-radius: 60px;
  }

  .case.perso{
    background-color: rgb(234, 69, 69);
    width: 30px;
    height: 30px;
    pointer-events: none;
  }
  
  .level {
    color: rgb(241, 32, 67);
  }
  
  li {
    margin: 15px;
    letter-spacing: 1px;
    color: rgb(124, 124, 124);
  }
  
  img {
    padding-top: 50px;
    display: block;
    height: 300px;
    object-fit: contain;
  }
  
  .level-complete {
    transition: 0.5s ease-in;
    height: 100px;
  }
  
  .next-level button {
    height: 60px;
    width: 200px;
    font-size: 25px;
    background-color: #229954;
    border-style: solid;
    border-color: #229954;
    color: white;
    font-family: "Montserrat";
    font-weight: bold;
  }
  
  .retry-level button {
    height: 60px;
    width: 200px;
    font-size: 25px;
    background-color: #3498db;
    border-style: solid;
    border-color: #3498db;
    color: white;
    font-family: "Montserrat";
    font-weight: bold;
  }