<div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="20" class="help-container">
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
        <div fxFlex>
          <h1>- Rules -</h1>
        </div>
        <div fxFlex>
          <ul>
            <li>
              Sortez du labyrinthe
            </li>
            <li>
              Pour cela ramassez les clefs en répondant correctement aux questions
            </li>
            <li>
              Pour ce déplacez appuyer sur les touches directions et pour ramesser les clefs appuyez sur espace
            </li>
          </ul>
        </div>
        <div fxflex>
          <img src="assets/img/1.png" />
        </div>
        <!--<div fxflex>
          <button mat-stroked-button [routerLink]="['/home']">
            Back to Home
          </button>
        </div>-->
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class="canvas-container">
      <div fxflex="10">
        <h1>
          Level: <span class="level">{{ id + 1 }}</span>
        </h1>
      </div>
  
      <!--<div fxFlex="10">
        <h3>
          Current Moves: {{ currentMoves }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Target
          Moves:
          {{ targetMoves }}
        </h3>
      </div>-->
  
      <div fxFlex="60">
        <div class="container">
          <div class="row" *ngFor="let row of board; let i = index">
            <div
              class="column" *ngFor="let column of row; let j = index">
              <button 
                  class="case 
                  {{ (getvalue(i,j) == 15 ? 'vide' : '')}}
                  {{ (getvalue(i,j) == 14 ? 'hdb' : '')}}
                  {{ (getvalue(i,j) == 13 ? 'hdg' : '')}}
                  {{ (getvalue(i,j) == 12 ? 'hd' : '')}}
                  {{ (getvalue(i,j) == 11 ? 'hbg' : '')}}
                  {{ (getvalue(i,j) == 10 ? 'hb' : '')}}
                  {{ (getvalue(i,j) == 9 ? 'hg' : '')}}
                  {{ (getvalue(i,j) == 8 ? 'h' : '')}}
                  {{ (getvalue(i,j) == 7 ? 'dbg' : '')}}
                  {{ (getvalue(i,j) == 6 ? 'bd' : '')}}
                  {{ (getvalue(i,j) == 5 ? 'dg' : '')}}
                  {{ (getvalue(i,j) == 4 ? 'd' : '')}}
                  {{ (getvalue(i,j) == 3 ? 'bg' : '')}}
                  {{ (getvalue(i,j) == 2 ? 'b' : '')}}
                  {{ (getvalue(i,j) == 1 ? 'g' : '')}}
                  {{ (getvalue(i,j) == 0 ? 'none' : '')}}
                  {{ (getKeys(i,j) == 0 ? 'keys yellow' : '')}}
                  {{ (getKeys(i,j) == 1 ? 'keys blue' : '')}}
                  {{ (getKeys(i,j) == 2 ? 'keys purple' : '')}}
                  {{ (getDoors(i,j)[0] == 0 ? 'doors yellow' : '')}}
                  {{ (getDoors(i,j)[0] == 1 ? 'doors blue' : '')}}
                  {{ (getDoors(i,j)[0] == 2 ? 'doors purple' : '')}}
                  {{ (perso(i,j) ? 'perso' : '')}}
                  "
                  >
              </button>
            </div>
          </div>
        </div>
      </div>
  
      <!-- [ngStyle]="{ 'background-image': setImage(i, j) }"-->
  
      <!--<div fxFlex="40" [hidden]="!hasWon">
        <img class="level-complete" src="assets/canvas-images/success.png" />
      </div>
  
      <div fxFlex="40" [hidden]="!hasLost">
        <img class="level-complete" src="assets/canvas-images/failed.jpg" />
      </div>
  
      <div fxFlex [hidden]="!hasWon && !hasLost">
        <div class="next-level">
          <button (click)="Navigate()">
            Next Level
          </button>
        </div>
      </div>
  
      <div fxFlex [hidden]="!hasWon && !hasLost">
        <div class="retry-level">
          <button (click)="refresh()">
            Retry Level
          </button>
        </div>
      </div> -->

      <div fxFlex>
        <div class="buttons">
          Inventaire :
          <button 
            class="case 
            {{ (isInventaire(0) ? 'doors yellow' : '')}}"
            >
          </button>
          <button 
            class="case 
            {{ (isInventaire(1) ? 'doors blue' : '')}}"
            >
          </button>
          <button 
            class="case 
            {{ (isInventaire(2) ? 'doors purple' : '')}}"
          >
          </button>
          Nombre de pas : {{getNumberMove()}}  Temps : {{gettime()}}
        </div>
      </div>
  
      <div fxFlex>
        <div class="buttons">
          <button
            mat-button
            [disabled]="id - 1 <= 0"
            [routerLink]="['/levels', id - 1]"
          >
            Previous Level
          </button>
          <button mat-button (click)="refresh()">
            <i class="material-icons">Retry</i>
          </button>
  
          <button
            mat-button
            [disabled]="id + 1 > allLevels.length"
            [routerLink]="['/labyrinthe', id + 1]"
          >
            Next Level
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <ngx-spinner
    bdColor="rgba(0, 0, 0, 0.8)"
    size="medium"
    color="#fff"
    type="square-jelly-box"
    ><p style="color: white;">Loading...</p></ngx-spinner>