.canvas-container {
  height: 120vh;
  background-color: black;
  color: white;
  width: 100%;
}

.help-container {
  height: 80vh;
  background-color: rgb(29, 29, 29);
  color: white;
  width: 100%;
}

.container1 {
  position: relative;
  display: block;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  border: yellow 10px solid;
  width: 410px;
}

.container2 {
  position: relative;
  display: block;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  border: yellow 10px solid;
  width: 620px;
}

.row1 {
  height: 30px;
}

.row2 {
  height: 20px;
}

.column1 {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-position: center; /* Center the image */
  background-repeat: repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.column2 {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-position: center; /* Center the image */
  background-repeat: repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.case.c1{
  background-color: rgba(142, 5, 5, 0);
  width: 30px;
  height: 30px;
  pointer-events: none;
  border:none;
  background-size: 30px 30px;
}

.case.c2{
  background-color: rgba(142, 5, 5, 0);
  width: 20px;
  height: 20px;
  pointer-events: none;
  border:none;
  background-size: 20px 20px;
}

.vide{
  background-image: url(./assets/case0.png);
}

.none{
  background-image:  url(./assets/case0.png);
}

.h{
  background-image: url(./assets/case8.png);
}

.d{
  background-image:  url(./assets/case4.png);
}

.b{
  background-image:  url(./assets/case2.png);
}

.g{
  background-image:  url(./assets/case1.png);
}

.hd{
   background-image:  url(./assets/case12.png);
}

.bd{
  background-image:  url(./assets/case6.png);
}

.bg{
  background-image:  url(./assets/case3.png);
}

.hg{
  background-image:  url(./assets/case9.png);
}

.hb{
  background-image:  url(./assets/case10.png);
}

.dg{
  background-image:  url(./assets/case5.png);
}

.hdb{
  background-image:  url(./assets/case14.png);
}

.hdg{
  background-image:  url(./assets/case13.png);
}

.hbg{
  background-image:  url(./assets/case11.png);
}

.dbg{
  background-image:  url(./assets/case7.png);
}

.buttons {
  margin-top: 40px;
  padding: 5px;
  border: grey 2px solid;
  border-radius: 60px;
}

.keysyellow{
  background-image: url(./assets/clef-jaune.png) ;
  z-index: 1;
}

.keysblue{
  background-image:  url(./assets/clef-bleu.png);
  z-index: 1;
}

.keyspurple{
  background-image:  url(./assets/clef-violet.png);
  z-index: 1;
}

.keysred{
  background-image:  url(./assets/clef-rose.png);
  z-index: 1;
}

.keysorange{
  background-image:  url(./assets/clef-orange.png);
  z-index: 1;
}

.keysgreen{
  background-image: url(./assets/clef-verte.png);
  z-index: 1;
}

.booksyellow{
  background-image:  url(./assets/livre-jaune.png);
  z-index: 1;
}

.booksblue{
  background-image:  url(./assets/livre-bleu.png);
  z-index: 1;
}

.bookspurple{
  background-image:  url(./assets/livre-violet.png);
  z-index: 1;
}

.booksred{
  background-image:  url(./assets/livre-rose.png);
  z-index: 1;
}

.booksorange{
  background-image:  url(./assets/livre-orange.png);
  z-index: 1;
}

.booksgreen{
  background-image:  url(./assets/livre-vert.png);
  z-index: 1;
}

.doorsyellow{
  border-top: 5px solid rgb(243, 243, 32);
  z-index: 2;
}

.doorsblue{
  border-top: 5px solid rgb(88, 133, 247);
  z-index: 2;
}

.doorspurple1{
  border-top: 5px solid rgb(206, 63, 151);
  z-index: 2;
}

.doorspurple2{
  border-bottom: 5px solid rgb(206, 63, 151);
  z-index: 2;
}

.doorsorange{
  border-left: 5px solid rgb(255, 191, 0);
  z-index: 2;
}

.doorsgreen{
  border-left: 5px solid rgb(64, 243, 5);
  z-index: 2;
}

.doorsred{
  border-left: 5px solid rgb(247, 91, 208);
  z-index: 2;
}

.perso1{
  background-image:  url(./assets/objectif.png);
  width: 30px;
  height: 30px;
  pointer-events: none;
  border:none;
  background-size: 30px 30px;
  z-index: 4;
}

.perso2{
  background-image:  url(./assets/objectif.png);
  width: 20px;
  height: 20px;
  pointer-events: none;
  border:none;
  background-size: 20px 20px;
  z-index: 4;
}

.exit1{
  background-image:  url(./assets/objectif.png);
  width: 30px;
  height: 30px;
  pointer-events: none;
  border:none;
  background-size: 30px 30px;
  z-index: 3;
}

.exit2{
  background-image:  url(./assets/objectif.png);
  width: 20px;
  height: 20px;
  pointer-events: none;
  border:none;
  background-size: 20px 20px;
  z-index: 3;
}

.level {
  color: rgb(241, 32, 67);
}

li {
  margin: 15px;
  letter-spacing: 1px;
  color: rgb(124, 124, 124);
}

img {
  padding-top: 50px;
  display: block;
  height: 300px;
  object-fit: contain;
}

.level-complete {
  transition: 0.5s ease-in;
  height: 100px;
}

.next-level button {
  height: 60px;
  width: 200px;
  font-size: 25px;
  background-color: #229954;
  border-style: solid;
  border-color: #229954;
  color: white;
  font-family: "Montserrat";
  font-weight: bold;
}

.retry-level button {
  height: 60px;
  width: 200px;
  font-size: 25px;
  background-color: #3498db;
  border-style: solid;
  border-color: #3498db;
  color: white;
  font-family: "Montserrat";
  font-weight: bold;
}









.p {
  background-color: black;
}

.question.question{
  display: block;
width: 100%;
padding: 10px 15px;
appearance: none;
border: none;
margin-top: 15px;
font-size: 20px;
outline: none;
  text-align: center;
}

.choix{
  background-color: rgba(156, 51, 135, 0.721);
  border: none;
  width: 98%;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-top: 2%;
  margin-left: 1%;
  margin-bottom: 2%;
  border-radius:10px;
  text-align: center;
}

.score {
  padding-top: 2%;
  font-size: 200%;
  border-color: black;
  text-align: center;
}

.countinue {
  width: 20%;
  background-color:rgba(70, 161, 78, 0.71);
  margin-left: 40%;
}

.choix.correct {
  background-color:rgba(70, 161, 78, 0.71);
}

.choix.incorrect {
  background-color:rgba(161, 70, 70, 0.71);
}

.choix.respond {
  pointer-events: none;
}


.feedback {
  text-align: center;
  font-size: large;
}

.boutonDroit{
  position: relative!important;
  display: inline-block!important;
  float: right!important;
  display: flex;
  justify-content: end;
  background-color:rgba(70, 161, 78, 0.71);
}

.true{
  background-color: rgb(59, 161, 155)!important;
}

.green{
  background-color: #44c963!important;
}

.red{
  background-color: rgba(237, 65, 65, 0.959)!important;
}

.blue{
  background-color: #44c963!important;;
}

.nouvellePartie{
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
}

.bouton{
  display: flex;
  justify-content:space-between;
}

.rose{
  background-color: rgba(111, 41, 97, 0.3)!important;
  border: 2px solid rgba(66, 8, 55, 0.71);
}
