<div class="div-game-container">
    <!-- *ngFor sert a faire une boucle dans le code html-->
    <div class="game-container game m2 s2">
        <a class="game-div" href='/labyrinthe'><img [src]='"../assets/img/"+1+".png"' class="game-icon">
            <p class="game-title">Labyrinthe</p>
        </a>
    </div>
    <div class="game-container game m2 s2">
        <a class="game-div" href='/jeu/2'><img [src]='"../assets/img/"+2+".png"' class="game-icon">
            <p class="game-title">Trivial Pursuit</p>
        </a>
    </div>
    <div class="game-container game m2 s2">
        <a class="game-div" href='/jeu/3'><img [src]='"../assets/img/terre.png"' class="game-icon">
            <p class="game-title">Save the planet !</p>
        </a>
    </div>
    <div class="game-container  m2 s2">
        <a class="game-div" href='/jeu/4'><img [src]='"../assets/img/"+4+".png"' class="game-icon">
            <p class="game-title">Qui veut gagner des millions ?</p>
        </a>
    </div>
</div>
