.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20em;
    margin-bottom: 20em;
}

h1 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10em;
    background-color: lightgreen;
    padding: 1em;
}

.game-container {
    margin-left: 50px;
    margin-right: 50px;
}

.game-icon {
    width: 15em;
    height: 15em;
}

body {
    margin-top: 0px;
    height: 100%;
}

.game-title {
    text-align: center
}