<p> Click on [ <img src="../../../assets/img_jeu2/icone1.png" height="12"> ]
    and respond to the question that will appear <br> so you can unlock the locked box 
    [ <img src="../../../assets/img_jeu2/icone0.png" height="15"> ] adjacent to the clicked box. <br><br>

    The goal of the game is to find the exit [ <img src="../../../assets/img_jeu2/icone5.png" height="15"> ] which is hidden <br> behind one of the blocked boxes.
    <br><br> Once you find the exit you can click on it to pass to the next level.
</p>
