.game-container {
    margin-left: 50px;
    margin-right: 50px;
}

.game-icon {
    width: 15em;
    height: 15em;
}

body {
    margin-top: 0px;
    height: 100%;
}

.game-title {
    text-align: center
}

footer {
    width: 100%;
    /* Footer height */
}

.navbar-collapse.collapse.in {
    display: block!important;
}

.mt-5 {
    display: flex;
    justify-content: center;
    flex: 1;
}